:root{
    --success: #22bb33;
    --error: #bb2124;
    --warning: #f0ad4e;
    --info: #5bc0de;
}
body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}
.messageBox{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 32px;
    right: 32px;
    color: white;
    padding: 32px;
    font-size: 16px;
    font-weight: bold;
    z-index: 20;
}
.messageBox.success{
    background: var(--success);
}
.messageBox.error{
    background: var(--error);
}
.messageBox.warning{
    background: var(--warning);
}
.messageBox.info{
    background: var(--info);
}
.messageBox:empty{
    display: none;
}
#content{
    width: 90vw;
    margin: 0 5vw;
    padding: 8px;
}
.recommendations{
    display: none;
    position: relative;
    margin: 48px 0;
}
.recommendations.active{
    display: flex;
    flex-flow: column;
}
.choices_header,
.movie{
    display: grid;
    grid-template-columns: 2fr repeat(18, 1fr);
}
.movie{
    position: relative;
}
.field{
    display: grid;
    place-items: center;
    padding: 8px 4px;
    text-align: center;
}
.field.category::after{
    display: block;
    width: 20px;
    height: 20px;
    background: var(--error);
    content: '';
}
.field.category.active::after{
    background: var(--success);
}
.choices .selector{
    appearance: none;
    position: absolute;
    width: 100%;
    height: 100%;
}
.choices .selector:checked~.field{
    background: orange;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
}
.prev, .next{
    background: var(--info);
    width: 40px;
    height: 24px;
    padding: 8px;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.prev{
    border-radius: 50px 0 0 50px;
}
.next{
    border-radius: 0 50px 50px 0;
}
.prev::after, .next::after{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;
}
.prev::after{
    content: '\2039';
}
.next::after{
    content: '\203A';
}
.page{
    margin: -8px -10px;
    display: grid;
    place-items: center;
    width: 48px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    position: relative;
    z-index: 1;
    background-color: #ebebeb;
}
.generate{
    padding: 8px 12px;
    margin: 16px auto;
    background: var(--success);
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    display: grid;
    place-items: center;
    color: #fcfcfc;
    box-shadow: 6px 6px 16px 0px rgba(66, 68, 90, 1);
    border: none;
    cursor: pointer;
}
.movies_switch, .reload{
    position: absolute;
    top: 0;
    right: 100%;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 30px;
    font-weight: bold;
    display: grid;
    place-items: center;
    background: var(--info);
}
.movies_switch::after{
    content: '+';
    display: block;
}
.movies_switch.active::after{
    content: '-';
    margin: 0 0 6px 0;
}
.movies_switch~.movie{
    display: none;
}
.movies_switch.active~.movie{
    display: grid;
}
.reload{
    top: 58px;
    background: var(--warning);
}
.reload::after{
    content: '\27F3';
    display: block;
    margin: 0 0 6px 0;
}