:root{
    --success: #22bb33;
    --error: #bb2124;
    --warning: #f0ad4e;
    --info: #5bc0de;
}
body {
    background-color: lightblue;
}
.messageBox{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 32px;
    right: 32px;
    color: white;
    padding: 32px;
    font-size: 16px;
    font-weight: bold;
    z-index: 20;
}
.messageBox.success{
    background: var(--success);
}
.messageBox.error{
    background: var(--error);
}
.messageBox.warning{
    background: var(--warning);
}
.messageBox.info{
    background: var(--info);
}
.messageBox:empty{
    display: none;
}
.choices_header,
.movie{
    display: grid;
    grid-template-columns: 2fr repeat(18, 1fr);
}
.field{
    display: grid;
    place-items: center;
    padding: 8px 4px;
}
.field.category::after{
    display: block;
    width: 20px;
    height: 20px;
    background: var(--error);
    content: '';
}
.field.category.active::after{
    background: var(--success);
}