<!DOCTYPE html>
<html>
<head>
    <title>Rekomendacje</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="header">
        <h2>Modele rekomendacji</h2>
        <select id="model_selection">
            <option value="" disabled selected></option>
            {% for model in context.models %}
                <option value="{{model}}">{{ model }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="content">
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
